<div class="page">
    <div class="materials-card">
        <div>
            <p class="title">Here are some Books related to your Field of Study.</p>
        </div>
        <div class="mateials-list">
            <div class="header">
                <p>Electrical and Computer Engineering Books</p>
                <p>Download File</p>
            </div>
            <div class="body">
                <div>
                    <li>
                        <p class="material-title">#1. Fundamentals of circuit</p>
                        <button><i class="bi bi-download"></i></button>
                    </li>
                    <li>
                        <p class="material-title">#2. Signals and systems analysis</p>
                        <button><i class="bi bi-download"></i></button>
                    </li>
                    <li>
                        <p class="material-title">#3. Digital logic design</p>
                        <button><i class="bi bi-download"></i></button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
