<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">
                Login
            </h2>

            <form #loginForm="(ngForm)">


                <div class="form-outline mb-2">
                    <label class="" for="email">Email</label>
                    <input type="email" id="email" class="form-control" />
                </div>

                <div class="password-field form-outline mb-2">
                    <label class="" for="password">Password</label>
                    <input type="password" id="password" class="form-control" />
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>

                </div>

                <div>
                    <a [routerLink]="['/user/reset-password']">Forgot password</a>
                </div>



                <div class="mt-2">
                    <button type="button " class="btn btn-primary">Login</button>
                </div>

                <p class="text-center text-muted mt-2 mb-0">
                    Don't have an account?
                    <a [routerLink]="['/user/sign-up']" class="fw-bold text-body login-link"><u>Register here</u></a
        >
      </p>
    </form>
  </div>
</div>
</div>
