<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">
                {{"Sign-in.Login" | translate}}
            </h2>

            <form #loginForm="ngForm" (ngSubmit)="login()">


                <div class="form-outline mb-2">
                    <label class="" for="email">{{"Sign-in.Email" | translate}}</label>
                    <input type="email" [(ngModel)]="user.email" name="email" id="email" class="form-control" />
                </div>

                <div class="password-field form-outline mb-2">
                    <label class="" for="password">{{"Sign-in.Password" | translate}}</label>
                    <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" />
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>

                </div>

                <div>
                    <a [routerLink]="['/user/reset-password']">{{"Sign-in.Forgot-Password" | translate}}</a>
                </div>



                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">{{"Sign-in.Login" | translate}}</button>
                </div>

                <p class="text-center text-muted mt-2 mb-0">
                    {{"Sign-in.Don't have an account" | translate}}
                    <a [routerLink]="['/user/sign-up']" class="fw-bold text-body login-link"><u>{{"Sign-in.Register Here" | translate}}</u></a
        >
      </p>
    </form>
  </div>
</div>
</div>