<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Users</h6>
                    <h2 class="text-right mb-5"><i class="fa-solid fa-users"></i><span class="m-3">{{users.length}}</span></h2>
                    <!-- <p class="m-b-0">Returning Users<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Exams</h6>
                    <h2 class="text-right mb-5"><i class="fa-regular fa-file "></i><span class="m-3">486</span></h2>
                    <!-- <p class="m-b-0">Taken Exams<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-5">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Materials Available</h6>
                    <h2 class="text-right mb-5"><i class="fa-regular fa-folder"></i><span class="m-3">{{materials.length}}</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>

        <!-- <div class="col-md-4 col-xl-5">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Daily Visits</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div> -->
    </div>
</div>
