<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">
                {{"Sign-up.Create an account" |translate}}
            </h2>

            <form #registerForm="ngForm" (ngSubmit)="register()">
                <div class="form-outline mb-2">
                    <label class=" " for="username">{{"Sign-up.Name" |translate}}*</label>
                    <input maxlength="14" type="text" [(ngModel)]="user.username" name="username" id="username" class="form-control" required />
                </div>

                <div class="form-outline mb-2">
                    <label class="" for="email">{{"Sign-up.Email" |translate}}*</label>
                    <input maxlength="24" type="email" [(ngModel)]="user.email" name="email" id="email" class="form-control" required />
                </div>

                <div class="password-field form-outline mb-2">
                    <label class="" for="password">{{"Sign-up.Password" |translate}}*</label>
                    <input minlength="6" type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" required />
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>
                </div>

                <div class="confirm-password-field form-outline mb-2">
                    <label class=" " for="confirm-password">{{"Sign-up.Repeat Password" |translate}}*</label>
                    <input minlength="6" type="password" [(ngModel)]="user.confirmPassword" name="password" id="confirm-password" class="form-control" required />
                    <i (click)="togglePassword('confirm-password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('confirm-password')" class="eye-icon bi bi-eye"></i>
                </div>

                <div class="form-outline mb-2">
                    <label class=" " for="securityQuestion">{{"Sign-up.SecurityQuestion" |translate}}*</label>
                    <input type="text" [(ngModel)]="user.securityQuestion" name="securityQuestion" id="securityQuestion" class="form-control" required />
                </div>
                <div class="form-outline mb-2">
                    <label class=" " for="securityAnswer">{{"Sign-up.SecurityAnswer" |translate}}*</label>
                    <input type="text" [(ngModel)]="user.securityAnswer" name="securityAnswer" id="securityAnswer" class="form-control" required />
                </div>

                <div class="form-outline mb-2">
                    <label class=" " for="field-of-study">{{"Sign-up.Field of study" |translate}}*</label>
                    <select [(ngModel)]="user.fieldofstudy" name="fieldofstudy" id="field-of-study" class="form-control form-select" required>
                      <option class="form-control" value="Electrical and Computer Engineering">Electrical and Computer Engineering</option>
                      <option class="form-control" value="Civil Engineering">Civil Engineering</option>
          </select>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">{{"Sign-up.Register" |translate}}</button>
                </div>

                <p class="text-center text-muted mt-2 mb-0">
                    {{"Sign-up.Already have an account" |translate}}
                    <a [routerLink]="['/user/sign-in']" class="fw-bold text-body login-link"><u>{{"Sign-up.Login here" |translate}}</u></a
          >
        </p>
      </form>
    </div>
  </div>
</div>