<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">
                Create new password
            </h2>

            <form>




                <div class="password-field form-outline mb-2">
                    <label class="" for="password">Password</label>
                    <input type="password" id="password" class="form-control" />
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('password')" class="eye-icon bi bi-eye"></i>

                </div>
                <div class="confirm-password-field form-outline mb-2">
                    <label class="" for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" class="form-control" />
                    <i (click)="togglePassword('confirm-password')" class="eye-icon bi bi-eye"></i>
                    <i (click)="togglePassword('confirm-password')" class="eye-icon bi bi-eye"></i>

                </div>




                <div class="mt-2">
                    <button type="button" class="btn btn-primary">Continue</button>
                </div>


            </form>
        </div>
    </div>
</div>
