<div class="page">
    <div class="banner-div">
        <div class="container banner">
            <div class="banner-content">
                <div>
                    <p class="banner-title">{{"About-us.Banner-Title" | translate}}</p>
                </div>
                <div>
                    <p class="banner-subtitle">{{"About-us.Banner-SubTitle" | translate}}</p>
                </div>
                <div>
                    <p class="banner-paragraph">
                        {{"About-us.Banner-Paragraph" | translate}} </p>
                </div>
                <div>
                    <button *ngIf="!user.isLoggedIn" [routerLink]="['/user/sign-up']" routerLinkActive="router-link-active" class="btn btn-primary get-started-button">
                      {{"About-us.Get Started" | translate}}          </button>
                </div>
            </div>
            <div>
                <img class="banner-img" src="woman on pc.svg" alt="" />
            </div>
        </div>
    </div>

    <div class="exams-div">
        <p>{{"About-us.Take Exams Anytime, Anywhere" | translate}}</p>
        <img src="man pointing on board.svg" alt="" />
    </div>

    <div class=" description">
        <div>
            <p class="description-title">{{"About-us.Description-Title" | translate}}</p>
        </div>

        <div class="description-contents">
            <div class="description-content">
                <p class="description-paragraph">
                    {{"About-us.Description-Paragraph-1" | translate}} </p>
                <img class="description-logo" src="stack of books.svg" alt="" />
            </div>
            <div class="description-content">
                <img class="description-logo" src="clock test.svg" alt="" />
                <p class="description-paragraph">
                    {{"About-us.Description-Paragraph-2" | translate}} </p>
            </div>
        </div>
    </div>

    <div class="teams">
        <div class="title">{{"About-us.Our Teams" | translate}}</div>
        <div class="container team-cards">
            <div class="team-card">
                <img src="team profile pic.svg" alt="">
                <p class="name">Fitsum Mehari</p>
                <p class="role">Full-stack dev</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Haven Kahssay</p>
                <p class="role">UI Designer</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Danayth Berhe</p>
                <p class="role">UI Designer</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Kalkidan</p>
                <p class="role">UI Designer</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container footer-sections">
            <div>
                <img class="footer-img" src="GG logo.svg" alt="" />
            </div>
            <div class="footer-nav">
                <div>
                    <p class="footer-title">{{"About-us.Graduate Gateway" | translate}}</p>
                </div>
                <div class="links">
                    <a href="home">{{"About-us.Home" | translate}}</a>
                    <a href="about-us">{{"About-us.About us" | translate}}</a>
                    <a href="contact-us">{{"About-us.Contact" | translate}}</a>
                </div>
                <div class="icons">
                    <span class="icon"><i class="bi bi-twitter-x"></i> </span>
                    <span class="icon"><i class="bi bi-facebook"></i> </span>
                    <span class="icon"><i class="bi bi-telegram"></i> </span>
                </div>
            </div>
            <div class="footer-buttons">
                <button *ngIf="!user.isLoggedIn" class="btn btn-primary" [routerLink]="['/user/sign-up']">{{"About-us.Register" | translate}}</button>
                <button *ngIf="user.isLoggedIn" class="btn btn-light" (click)="logout()">{{"About-us.Logout" | translate}}</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/user/sign-in']">{{"About-us.Login" | translate}}</button>
                <!-- <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/admin/sign-in']">{{"About-us.Admin" | translate}}</button> -->
            </div>
        </div>
        <p class="copyright">&copy;{{"About-us.2024 Graduate Gateway" | translate}}</p>
    </footer>
</div>