<div class="page">
    <div class="banner-div">
        <div class="container banner">
            <div class="banner-content">
                <div>
                    <p class="banner-title">Conquer Hurdles, Excel In Exam</p>
                </div>
                <div>
                    <p class="banner-subtitle">Welcome to GraduateGateway Website!</p>
                </div>
                <div>
                    <p class="banner-paragraph">
                        GraduateGateway is a team based project intended to prepare students for the MOE Exit Exam.
                    </p>
                </div>
                <div>
                    <button [routerLink]="['/user/sign-up']" routerLinkActive="router-link-active" class="btn btn-primary get-started-button">
            Get Started
          </button>
                </div>
            </div>
            <div>
                <img src="woman on pc.svg" alt="" />
            </div>
        </div>
    </div>

    <div class="exams-div">
        <p>Take Exams Anytime, Anywhere</p>
        <img src="man pointing on board.svg" alt="" />
    </div>

    <div class=" description">
        <div>
            <p class="description-title">What we provide</p>
        </div>

        <div class="description-contents">
            <div class="description-content">
                <p class="description-paragraph">
                    We provide a centralized location for study materials including past exam papers and practice questions
                </p>
                <img class="description-logo" src="stack of books.svg" alt="" />
            </div>
            <div class="description-content">
                <img class="description-logo" src="clock test.svg" alt="" />
                <p class="description-paragraph">
                    Facilitate full-length mock exams that simulate the actual testing environment to help users become familiar with the exam format and time constraints
                </p>
            </div>
        </div>
    </div>

    <div class="teams">
        <div class="title">Our Teams</div>
        <div class="container team-cards">
            <div class="team-card">
                <img src="team profile pic.svg" alt="">
                <p class="name">Fitsum Mehari</p>
                <p class="role">Full-stack dev</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Fitsum Mehari</p>
                <p class="role">Full-stack dev</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Fitsum Mehari</p>
                <p class="role">Full-stack dev</p>
            </div>
            <div class="team-card"><img src="team profile pic.svg" alt="">
                <p class="name">Fitsum Mehari</p>
                <p class="role">Full-stack dev</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container footer-sections">
            <div>
                <img class="footer-img" src="GG logo.svg" alt="" />
            </div>
            <div class="footer-nav">
                <div>
                    <p class="footer-title">Graduate Gateway</p>
                </div>
                <div class="links">
                    <a href="home">Home</a>
                    <a href="about-us">About us</a>
                    <a href="contact-us">Contact us</a>
                </div>
                <div class="icons">
                    <span class="icon"><i class="bi bi-twitter-x"></i> </span>
                    <span class="icon"><i class="bi bi-facebook"></i> </span>
                    <span class="icon"><i class="bi bi-telegram"></i> </span>
                </div>
            </div>
            <div class="footer-buttons">
                <button class="btn btn-primary">Register</button>
                <button class="btn btn-light">Login</button>
                <button class="btn btn-light">Admin</button>
            </div>
        </div>
        <p class="copyright">&copy;2024 Graduate Gateway</p>
    </footer>
</div>
