.page {
    background: linear-gradient(0.5turn, #5B6590, #fff);
    height: 80vh;
    color: #0A215F;
}

.h3 {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem
}

.header {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 2rem
}

.search-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

input,
select {
    width: 15rem;
    font-size: 0.8rem;
    background-color: #eaeaea;
}

.table {
    margin-top: 1rem;
    max-height: 75vh;
    overflow: scroll;
    scrollbar-width: none;
}

.icon {
    margin-right: 1rem;
    cursor: pointer;
}

.icon-edit {
    color: blue;
}

.icon-delete {
    color: red;
}

button {
    background-color: #0A215F;
}

button:hover {
    background-color: rgb(67, 67, 250);
}