.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.spinner-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
}

.header {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

input,
select {
    width: 15rem;
    font-size: 0.8rem;
    background-color: #eaeaea;
}

.table {
    margin-top: 1rem;
    max-height: 15rem;
    overflow: scroll;
    scrollbar-width: none;
}

td {
    max-width: 20rem;
    overflow: auto;
}

.icon {
    margin-right: 1rem;
    cursor: pointer;
}

.icon-edit {
    color: blue;
}

.icon-delete {
    color: red;
}

button {
    background-color: #0A215F;
}

button:hover {
    background-color: rgb(67, 67, 250);
}