<div class="page">
    <div class="banner-div">
        <div class="container banner">
            <div class="banner-content">
                <div>
                    <p class="banner-title">{{"Contact.Banner-Title" | translate}}</p>
                </div>

                <div>
                    <p class="banner-subtitle">
                        <i class="bi bi-geo-alt-fill"></i>{{"Contact.Head Office" |translate}}
                    </p>
                    <p class="banner-value">{{"Contact.Mekelle University" |translate}}</p>
                    <p class="banner-subtitle">
                        <i class="bi bi-envelope-at-fill"></i>{{"Contact.Email" | translate}}
                    </p>
                    <p class="banner-value">example&#64;mu.edu.et</p>

                    <p class="banner-subtitle">
                        <i class="bi bi-phone-fill"></i>{{"Contact.Call us" |translate}}
                    </p>
                    <p class="banner-value">+2519111111</p>

                </div>

            </div>
            <div>
                <img class="map" src="map.svg" alt="" />
            </div>
        </div>
    </div>






    <footer>
        <div class="container footer-sections">
            <div>
                <img class="footer-img" src="GG logo.svg" alt="" />
            </div>
            <div class="footer-nav">
                <div>
                    <p class="footer-title">{{"Contact.Graduate Gateway" | translate}}</p>
                </div>
                <div class="links">
                    <a href="home">{{"Contact.Home" | translate}}</a>
                    <a href="about-us">{{"Contact.About-Us" | translate}}</a>
                    <a href="contact-us">{{"Contact.Contact" | translate}}</a>
                </div>
                <div class="icons">
                    <span class="icon"><i class="bi bi-twitter-x"></i> </span>
                    <span class="icon"><i class="bi bi-facebook"></i> </span>
                    <span class="icon"><i class="bi bi-telegram"></i> </span>
                </div>
            </div>
            <div class="footer-buttons">
                <button *ngIf="!user.isLoggedIn" class="btn btn-primary" [routerLink]="['/user/sign-up']">{{"Contact.Register" | translate}}</button>
                <button *ngIf="user.isLoggedIn" class="btn btn-light" (click)="logout()">{{"Contact.Logout" | translate}}</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/user/sign-in']">{{"Contact.Login" | translate}}</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/admin/sign-in']">{{"Contact.Admin" | translate}}</button>
            </div>
        </div>
        <p class="copyright">&copy;{{"Contact.2024 Graduate Gateway" | translate}}</p>
    </footer>
</div>