<div class="page">
    <div class="banner-div">
        <div class="container banner">
            <div class="banner-content">
                <div>
                    <p class="banner-title">We would love to hear from you.</p>
                </div>

                <div>
                    <p class="banner-subtitle">
                        <i class="bi bi-geo-alt-fill"></i>Head Office
                    </p>
                    <p class="banner-value">Mekelle University</p>
                    <p class="banner-subtitle">
                        <i class="bi bi-envelope-at-fill"></i>Email
                    </p>
                    <p class="banner-value">example&#64;mu.edu</p>

                    <p class="banner-subtitle">
                        <i class="bi bi-phone-fill"></i>Call us
                    </p>
                    <p class="banner-value">+2519111111</p>

                </div>

            </div>
            <div>
                <img class="map" src="map.svg" alt="" />
            </div>
        </div>
    </div>






    <footer>
        <div class="container footer-sections">
            <div>
                <img class="footer-img" src="GG logo.svg" alt="" />
            </div>
            <div class="footer-nav">
                <div>
                    <p class="footer-title">Graduate Gateway</p>
                </div>
                <div class="links">
                    <a href="home">Home</a>
                    <a href="about-us">About us</a>
                    <a href="contact-us">Contact us</a>
                </div>
                <div class="icons">
                    <span class="icon"><i class="bi bi-twitter-x"></i> </span>
                    <span class="icon"><i class="bi bi-facebook"></i> </span>
                    <span class="icon"><i class="bi bi-telegram"></i> </span>
                </div>
            </div>
            <div class="footer-buttons">
                <button *ngIf="!user.isLoggedIn" class="btn btn-primary" [routerLink]="['/user/sign-up']">Register</button>
                <button *ngIf="user.isLoggedIn" class="btn btn-light" (click)="logout()">Logout</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/user/sign-in']">Login</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/admin/sign-in']">Admin</button>
            </div>
        </div>
        <p class="copyright">&copy;2024 Graduate Gateway</p>
    </footer>
</div>
