<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">Reset Password</h2>

            <form #emailForm="ngForm" (ngSubmit)="sendEmail()">

                <div class="form-outline mb-2">
                    <label class="" for="email">{{"Sign-in.Email" | translate}}</label>
                    <input type="email" [(ngModel)]="user.email" name="email" id="email" class="form-control" />
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-primary login-button">
            Send Reset Link
          </button>
                </div>
                <div class="mt-2">
                    <a [routerLink]="['/user/sign-in']" type="button" class="btn btn-light back-button mt-1">Back to Sign In</a
          >
        </div>
      </form>
    </div>
  </div>
</div>