<div class="page">
    <p class="p-4 h3 ">{{"FAQ.Title" |translate}}</p>

    <div class="body">

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question1" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer1" |translate}}</p>

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question2" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer2" |translate}}</p>

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question3" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer3" |translate}}</p>

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question4" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer4" |translate}}</p>

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question5" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer5" |translate}}</p>

        <p class="h5 p-2"><b class="h6">Q.</b> {{"FAQ.question6" | translate}}</p>
        <p class=" p-3"><b class="h6">A.</b> {{"FAQ.answer6" |translate}}</p>

    </div>
</div>