<div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar" class="side-bar d-flex flex-column flex-shrink-0 p-4 bg-success text-white offcanvas-md offcanvas-start">
        <div style="width: 100%; text-wrap: wrap">
            <p class="display-6">Graduate Gateway</p>
        </div>

        <hr />
        <!-- <p style="font-size: 0.9rem">Manage</p> -->
        <ul class="mynav nav nav-pills flex-column mb-auto">

            <li class="nav-item mb-1">
                <a routerLinkActive="active" [routerLink]="['/admin/home/overview']" style="cursor: pointer">
                    <i class="bi bi-house"></i> Overview
                </a>
            </li>

            <li class="nav-item mb-1">
                <a routerLinkActive="active" [routerLink]="['/admin/home/exams']" style="cursor: pointer">
                    <i class="bi bi-book"></i> Exams
                </a>
            </li>

            <li class="nav-item mb-1">
                <a routerLinkActive="active" [routerLink]="['/admin/home/materials']" style="cursor: pointer">
                    <i class="bi bi-paperclip"></i> Materials
                </a>
            </li>

            <li class="nav-item mb-1">
                <a routerLinkActive="active" [routerLink]="['/admin/home/users']" style="cursor: pointer">
                    <i class="bi bi-people"></i> Users
                </a>
            </li>

            <li class="nav-item mb-1">
                <a routerLinkActive="active" [routerLink]="['/admin/home/results']" style="cursor: pointer">
                    <i class="bi bi-mortarboard"></i> Results
                </a>
            </li>
        </ul>
        <hr />
        <button class="btn btn-link" style="color: #afafaf" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Log Out
    </button>
    </div>
</div>