<div class="page">
    <div>
        <div class="form card" style="border-radius: 15px">
            <div class="card-body">
                <h2 class="text-uppercase fs-4 text-center mb-3 form-title">Update Material</h2>

                <form *ngIf="!!material" #editMaterialForm="ngForm" (ngSubmit)="update()">
                    <div class="form-outline mb-2">
                        <label class=" " for="field-of-study">Field of Study</label>
                        <select [(ngModel)]="material.fieldofstudy" name="fieldofstudy" id="field-of-study" class="form-control form-select">
              <option
                class="form-control"
                value="Electrical and Computer Engineering"
              >
                Elecrical and Computer Engineering
              </option>
              <option class="form-control" value="Civil Engineering">
                Civil Engineering
              </option>
            </select>
                    </div>

                    <div class="form-outline mb-2">
                        <label class="" for="title">Title</label>
                        <input type="text" [(ngModel)]="material.title" name="title" id="title" class="form-control" />
                    </div>

                    <div class="form-outline mb-2">
                        <label class="" for="materialURL">Download link</label>
                        <input type="text" [(ngModel)]="material.materialURL" name="materialURL" id="materialURL" class="form-control" />
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>