.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exam-title {
    background-color: #dfedf6;
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.index {
    background-color: rgba(104, 104, 104, 10%);
    height: auto;
    border-radius: 1rem;
}

.index .index-title {
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0a215f;
}

.index .index-time {
    padding: 2rem;
    padding-bottom: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #2a3450;
}

.exam {
    background-color: #dfedf6;
    padding: 3rem;
    border-radius: 1rem;
}

.question {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.choice {
    margin-bottom: 1rem;
    cursor: pointer;
}

.buttons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid grey;
    width: 22rem;
}

.navigation .question-index-btn {
    margin: .2rem;
    font-size: 0.8rem;
    text-align: center;
    width: 1rem;
    font-weight: 900;
    border-radius: .1rem;
    color: black;
    border: 0.1rem solid grey;
    cursor: pointer;
}

.navigation button:hover {
    background-color: grey;
}

.active {
    background-color: rgb(0, 120, 233);
}

.choice-line {
    display: flex;
    justify-content: start;
    align-items: start;
    cursor: pointer;
}

.choice-radio-btn {
    margin-right: 2rem;
    transform: scale(1.2);
    margin-right: 1rem;
}

.selected-choice {
    border: .1rem solid rgb(0, 120, 233);
}


/* for showing the results */

.exam-finished-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exam-finished-content .score-title {
    font-weight: 700;
}

.exam-finished-content .score {
    font-size: 3rem;
    font-weight: 600;
}

.exam-finished-content .distinction {
    font-weight: 700;
    font-size: 600;
    color: rgb(35, 202, 35);
}
