<div class="page">
    <p class="exam-title">{{exam.fieldofstudy}} {{exam.examTitle}}</p>
    <div *ngIf="!examCompleted" class="content">
        <div class="index">
            <p class="index-title">{{"Question.Question" |translate}} {{ currentQuestionIndex + 1 }}</p>
            <p class="index-time" id="index-time">
                <!-- <i class="bi bi-clock"></i> {{ timeLeft | date : "h:mm:ss" }} left -->
                <i class="bi bi-clock"></i> {{ timeLeft | date: "h:mm:ss" }} {{"Question.left" |translate}}
            </p>
        </div>

        <!-- show exam  -->
        <div>
            <div class="exam" *ngIf="currentQuestion && !!totalQuestions">
                <div class="question-title">
                    <u>{{"Question.Instruction" |translate}}</u>: {{"Question.Choose the best answer. You have been provided with 3 hours." |translate}}
                </div>

                <div class="question">
                    <b>{{ currentQuestion.question }}</b>
                </div>
                <div class="choices" *ngFor="let choice of currentQuestion.choices | keyvalue">
                    <div class="choice-line" id="{{ currentQuestion._id + choice.key }}" (click)="
              answer(
                currentQuestion._id + choice.key,
                choice.key,
                currentQuestionIndex
              )
            ">
                        <!-- <input class="form-check-input choice-radio-btn" type="radio" name="choice"> -->
                        <i id="option-{{ currentQuestion._id + choice.key }}" class="bi bi-circle choice-radio-btn"></i>
                        <p class="choice">{{ choice.key }}. {{ choice.value }}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="currentQuestion && !!totalQuestions" class="buttons">
                <button *ngIf="
            currentQuestionIndex > 0 &&
            currentQuestionIndex < totalQuestions.length
          " (click)="
            setQuestionIndex(currentQuestionIndex - 1); resetChoiceLineStyles()
          " class="btn btn-seconday">
          {{"Question.Previous" |translate}}
        </button>
                <button *ngIf="
            currentQuestionIndex != totalQuestions.length &&
            currentQuestionIndex < totalQuestions.length - 1 &&
            !!answers[currentQuestionIndex]
          " (click)="
            setQuestionIndex(currentQuestionIndex + 1); resetChoiceLineStyles()
          " class="btn btn-primary">
          {{"Question.Next" |translate}}
        </button>
                <button *ngIf="(currentQuestionIndex == totalQuestions.length - 1) &&
            !!answers[currentQuestionIndex]" (click)="validateAnswers(); resetChoiceLineStyles()" class="btn btn-primary">
          {{"Question.Finish" |translate}}
        </button>
            </div>
        </div>

        <div>
            <div class="navigation">
                <div (click)="setQuestionIndex(i)" *ngFor="let question of totalQuestions; let i = index" class="question-index-btn" id="{{ i + 1 }}">
                    {{ i + 1 }}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="examCompleted" class="exam-finished-content">
        <p class="score-title">{{"Question.Exam Score" |translate}}</p>
        <p class="score">{{ correctCount }} / {{ totalQuestions.length }}</p>
        <p class="distinction" *ngIf="correctCount / totalQuestions.length >= 0.9">
            {{"Question.Excellent" |translate}}
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.8 &&
        correctCount / totalQuestions.length < 0.9
      ">
            {{"Question.Very good" |translate}}
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.7 &&
        correctCount / totalQuestions.length < 0.8
      ">
            {{"Question.Good" |translate}}
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.6 &&
        correctCount / totalQuestions.length < 0.7
      ">
            {{"Question.Average" |translate}}
        </p>
        <p class="distinction" style="color: rgb(200, 255, 0);" *ngIf="
        correctCount / totalQuestions.length >= 0.5 &&
        correctCount / totalQuestions.length < 0.6
      ">
            {{"Question.Can be improved" |translate}}
        </p>
        <p class="distinction" style="color: red;" *ngIf="correctCount / totalQuestions.length < 0.5">
            {{"Question.Fail" |translate}}
        </p>

        <button class="btn btn-information" (click)="exitPage()">{{"Question.Exit" |translate}}</button>
    </div>
</div>
