<div class="page">
    <p class="exam-title">{{exam.fieldofstudy}} {{exam.examTitle}}</p>
    <div *ngIf="!examCompleted" class="content">
        <div class="index">
            <p class="index-title">Question {{ currentQuestionIndex + 1 }}</p>
            <p class="index-time">
                <i class="bi bi-clock"></i> {{ timeLeft | date : "h:mm:ss" }} left
            </p>
        </div>

        <!-- show exam  -->
        <div>
            <div class="exam" *ngIf="currentQuestion && !!totalQuestions">
                <div class="question-title">
                    <u>Instruction</u>: Choose the best answer. You have been provided with 3 hours.
                </div>

                <div class="question">
                    <b>{{ currentQuestion.question }}</b>
                </div>
                <div class="choices" *ngFor="let choice of currentQuestion.choices | keyvalue">
                    <div class="choice-line" id="{{ currentQuestion._id + choice.key }}" (click)="
              answer(
                currentQuestion._id + choice.key,
                choice.key,
                currentQuestionIndex
              )
            ">
                        <!-- <input class="form-check-input choice-radio-btn" type="radio" name="choice"> -->
                        <i class="bi bi-circle-fill choice-radio-btn"></i>
                        <p class="choice">{{ choice.key }}. {{ choice.value }}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="currentQuestion && !!totalQuestions" class="buttons">
                <button *ngIf="
            currentQuestionIndex > 0 &&
            currentQuestionIndex < totalQuestions.length
          " (click)="
            setQuestionIndex(currentQuestionIndex - 1); resetChoiceLineStyles()
          " class="btn btn-seconday">
          Previous
        </button>
                <button *ngIf="
            currentQuestionIndex != totalQuestions.length &&
            currentQuestionIndex < totalQuestions.length - 1 &&
            !!answers[currentQuestionIndex]
          " (click)="
            setQuestionIndex(currentQuestionIndex + 1); resetChoiceLineStyles()
          " class="btn btn-primary">
          Next
        </button>
                <button *ngIf="(currentQuestionIndex == totalQuestions.length - 1) &&
            !!answers[currentQuestionIndex]" (click)="validateAnswers(); resetChoiceLineStyles()" class="btn btn-primary">
          Finish
        </button>
            </div>
        </div>

        <div>
            <div class="navigation">
                <button (click)="setQuestionIndex(i)" *ngFor="let question of totalQuestions; let i = index" class="btn btn-link question-index-btn" id="{{ i + 1 }}">
          {{ i + 1 }}
        </button>
            </div>
        </div>
    </div>

    <div *ngIf="examCompleted" class="exam-finished-content">
        <p class="score-title">Exam Score</p>
        <p class="score">{{ correctCount }} / {{ totalQuestions.length }}</p>
        <p class="distinction" *ngIf="correctCount / totalQuestions.length >= 0.9">
            Excellent
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.8 &&
        correctCount / totalQuestions.length < 0.9
      ">
            Very good
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.7 &&
        correctCount / totalQuestions.length < 0.8
      ">
            Good
        </p>
        <p class="distinction" *ngIf="
        correctCount / totalQuestions.length >= 0.6 &&
        correctCount / totalQuestions.length < 0.7
      ">
            Average
        </p>
        <p class="distinction" style="color: rgb(200, 255, 0);" *ngIf="
        correctCount / totalQuestions.length >= 0.5 &&
        correctCount / totalQuestions.length < 0.6
      ">
            Can be improved
        </p>
        <p class="distinction" style="color: red;" *ngIf="correctCount / totalQuestions.length < 0.5">
            Fail
        </p>

        <button class="btn btn-information" (click)="exitPage()">Exit</button>
    </div>
</div>