<div class="page">
    <div class="banner-div">
        <div class="container banner">
            <div class="banner-content">
                <div>
                    <p class="banner-title">Conquer Hurdles, Excel In Exam</p>
                </div>
                <div>
                    <p *ngIf="user?.isLoggedIn" class="banner-subtitle">Welcome {{user?.username}}!</p>
                    <p *ngIf="!user?.isLoggedIn" class="banner-subtitle">Welcome to GraduateGateway Website!</p>
                </div>
                <div>
                    <p *ngIf="!user?.isLoggedIn" class="banner-paragraph">
                        GraduateGateway is a team based project intended to prepare students for the MOE Exit Exam.
                    </p>
                    <p *ngIf="user?.isLoggedIn" class="banner-paragraph">
                        Ready to try the exams?
                    </p>
                </div>
                <div *ngIf="!user?.isLoggedIn">
                    <button [routerLink]="['/user/sign-up']" routerLinkActive="router-link-active" class="btn btn-primary get-started-button">
            Get Started
          </button>
                </div>
            </div>
            <div>
                <img class="banner-img" src="woman on pc.svg" alt="" />
            </div>
        </div>
    </div>

    <div class="exams-div">
        <div class="card card-1">
            <img src="woman on pc.svg" alt="" />
            <p class="h3">Exam 2024</p>
        </div>
        <div class="card card-2">
            <img src="man speaking.svg" alt="" />
            <p class="h3">Exam 2024</p>
        </div>
        <div class="card card-3">
            <img src="man teaching.svg" alt="" />
            <p class="h3">Exam 2024</p>
        </div>
    </div>

    <div class="container description">
        <div class="description-content">
            <div>
                <p class="description-title">You're in good company.</p>
            </div>
            <div>
                <p class="description-paragraph">
                    Graduate Gateway has collaborated with Mekelle University and uses Ministry of Education Ethiopia as a reference for all the Exams provided in this Website.
                </p>
            </div>
            <div class="logos">
                <img class="logo" src="MOE logo.svg" alt="" /><img class="logo" src="MK logo.svg" alt="" />
            </div>
        </div>
        <div class="description-image">
            <img src="graduate on pc.svg" alt="" />
        </div>
    </div>

    <footer>
        <div class="container footer-sections">
            <div>
                <img class="footer-img" src="GG logo.svg" alt="" />
            </div>
            <div class="footer-nav">
                <div>
                    <p class="footer-title">Graduate Gateway</p>
                </div>
                <div class="links">
                    <a href="home">Home</a>
                    <a href="about-us">About us</a>
                    <a href="contact-us">Contact us</a>
                </div>
                <div class="icons">
                    <span class="icon"><i class="bi bi-twitter-x"></i>
                    </span>
                    <span class="icon"><i class="bi bi-facebook"></i>
                    </span> <span class="icon"><i class="bi bi-telegram"></i>
                    </span>
                </div>
            </div>
            <div class="footer-buttons">
                <button *ngIf="!user.isLoggedIn" class="btn btn-primary" [routerLink]="['/user/sign-up']">Register</button>
                <button *ngIf="user.isLoggedIn" class="btn btn-light" (click)="logout()">Logout</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/user/sign-in']">Login</button>
                <button *ngIf="!user.isLoggedIn" class="btn btn-light" [routerLink]="['/admin/sign-in']">Admin</button>
            </div>
        </div>
        <p class="copyright">&copy;2024 Graduate Gateway</p>
    </footer>
</div>