.banner-div {
    background-color: rgba(173, 171, 195, 0.1);
}

.banner {
    color: #0A215F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    padding-left: 0.5rem;
    font-size: 3.5rem;
    font-weight: 700;
    width: 35rem;
    border-left: 0.5rem solid #0A215F;
}

.banner-subtitle {
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
}

.banner-paragraph {
    padding-left: 1rem;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .03rem;
}

.get-started-button {
    margin-left: 1rem;
    background-color: #0A215F;
    font-size: .8rem;
    padding: .5rem 1rem;
}

.get-started-button:hover {
    background-color: #10369e;
}


/* second section */

.exams-div {
    background-color: rgba(10, 30, 95, .5);
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 2rem;
    height: 30rem;
}

.card {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 15rem;
}

.card img {
    height: 8rem;
}

.card p {
    margin: 2rem;
}

.card-1 {
    position: absolute;
    bottom: -2rem;
    left: 10rem;
    background-color: #DBEDF5;
    color: #1D4645;
}

.card-2 {
    position: absolute;
    bottom: 5rem;
    left: 35rem;
    background-color: #102F2E;
    color: #fff;
}

.card-3 {
    position: absolute;
    bottom: 10rem;
    left: 60rem;
    background-color: #FEF1E2;
    color: #1D4645;
}


/* fourth section */

.description {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.description-content {
    width: 35rem
}

.description-title {
    font-size: 2rem;
}

.description-paragraph {
    margin-top: 3rem;
    letter-spacing: 0.1rem;
}

.logos {
    margin-top: 2rem;
    width: 20rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    width: 5rem;
    margin: 0.5rem;
}

.description-image img {
    height: 10rem;
}


/* footer */

footer {
    padding-top: 3rem;
    background: linear-gradient(0.25turn, #fff, rgba(10, 33, 95, 0.1), #fff);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

footer .footer-sections {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer .footer-sections .footer-img {
    height: 2rem;
}

footer .footer-sections .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer-sections .footer-nav .footer-title {
    font-weight: 600;
}

footer .footer-sections .footer-nav .links {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

footer .footer-sections .footer-nav .links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

footer .footer-sections .footer-nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-sections .footer-nav .icons .icon {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    background-color: #0A215F;
    color: white;
    border-radius: 50%;
}

footer .footer-sections .footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-sections .footer-buttons .btn {
    width: 8rem;
    margin-bottom: 1rem;
}

footer .copyright {
    padding-top: 1rem;
    text-align: center;
    border-top: .1rem solid rgba(47, 58, 255, 0.5);
    width: 100%;
}