<div class="container page">
    <div class="form card" style="border-radius: 15px">
        <div class="card-body">
            <h2 class="text-uppercase fs-4 text-center mb-3 form-title">
                {{"Update-Profile.Update your profile" |translate}}
            </h2>

            <form #updateProfileForm="ngForm" (ngSubmit)="update()">
                <div class="form-outline mb-2">
                    <label class="" for="username">{{"Update-Profile.Name" |translate}}</label>
                    <input maxlength="12" type="text" [(ngModel)]="updatedUser.username" name="username" id="username" class="form-control" required/>
                </div>

                <div class="form-outline mb-2">
                    <label class="" for="email">{{"Update-Profile.Email" |translate}}</label>
                    <input type="email" [(ngModel)]="updatedUser.email" name="email" id="email" class="form-control" required />
                </div>

                <div class="form-outline mb-2">
                    <label class=" " for="securityQuestion">{{"Sign-up.SecurityQuestion" |translate}}*</label>
                    <input type="text" [(ngModel)]="updatedUser.securityQuestion" name="securityQuestion" id="securityQuestion" class="form-control" required />
                </div>
                <div class="form-outline mb-2">
                    <label class=" " for="securityAnswer">{{"Sign-up.SecurityAnswer" |translate}}*</label>
                    <input type="text" [(ngModel)]="updatedUser.securityAnswer" name="securityAnswer" id="securityAnswer" class="form-control" required />
                </div>


                <div class="form-outline mb-2">
                    <label class="" for="field-of-study">{{"Update-Profile.Field of study" |translate}}</label>
                    <select id="field-of-study" [(ngModel)]="updatedUser.fieldofstudy" name="fieldofstudy" class="form-control form-select" required>
            <option
              class="form-control"
              value="Electrical and Computer Engineering"
            >
              Elecrical and Computer Engineering
            </option>
            <option class="form-control" value="Civil Engineering">
              Civil Engineering
            </option>
          </select>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">{{"Update-Profile.Update Profile" |translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>