nav {
    padding: 0 2rem;
    background-color: white !important;
}

.active {
    text-decoration: underline;
}

.profile-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    /* border: 1px solid red; */
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .1rem;
    text-align: center;
    background-image: url("../../../../../public/iconmonstr-circle-1.svg");
    color: white;
}

@media(max-width: 375px) {
    .logo img {
        width: 12rem;
    }
}