<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" routerLink="home">
        <img src="GG logo.svg" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="exam" routerLinkActive="active">Exam
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="materials" routerLinkActive="active">Materials</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active"
          >About Us</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active"
          >Contact</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          *ngIf="!user?.isLoggedIn"
          class="nav-link"
          routerLink="sign-in"
          routerLinkActive="active"
          >Sign In</a
        >
        <a
          *ngIf="user?.isLoggedIn"
          class="nav-link  profile-link"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <p class="profile-pic">
            {{ user?.username | firstLetter | uppercase }}
          </p>
          <p class="dropdown-toggle">{{ user?.username | uppercase }}</p></a
        >

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/user/update-profile"
            ><i class="bi bi-person-circle"></i> Profile</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer"
            ><i class="bi bi-box-arrow-right"></i> Logout
          </a>
    </div>
    </li>
    </ul>
    </div>
</nav>
