<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" routerLink="home">
        <img src="GG logo.svg" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">{{
          "NavBar.Home" | translate
        }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="exam" routerLinkActive="active">{{"NavBar.Exam" | translate}}
        </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="tutorials" routerLinkActive="active">{{"NavBar.Tutorials" | translate}}</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="materials" routerLinkActive="active"
          >{{"NavBar.Materials" | translate}}</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active"
          >{{"NavBar.About Us" | translate}}</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active"
          >{{"NavBar.Contact" | translate}}</a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          *ngIf="!user?.isLoggedIn"
          class="nav-link"
          routerLink="sign-in"
          routerLinkActive="active"
          >{{"NavBar.Sign-in" | translate}}</a
        >
        <a
          *ngIf="user?.isLoggedIn"
          class="nav-link profile-link"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="active"
          style="cursor: pointer"
        >
          <p class="profile-pic">
            {{ user?.username | firstLetter | uppercase }}
          </p>
          <p class="dropdown-toggle">{{ user?.username | uppercase }}</p></a
        >

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/user/update-profile"
            ><i class="bi bi-person-circle"></i> {{"NavBar.Profile" | translate}}</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer"
            ><i class="bi bi-box-arrow-right"></i> {{"NavBar.Logout" | translate}}
          </a>
    </div>
    </li>

    <li class="nav-item">
        <select name="" id="" (change)="changeLang($event)" class="form-select">
          <option value="en" [selected]="lang == 'en'">En</option>
          <option value="am" [selected]="lang == 'am'">አማ</option>
          <option value="tg" [selected]="lang == 'tg'">ትግ</option>
        </select>
    </li>
    </ul>
    </div>
</nav>